.Details .content {
    background-color: white;
    display: flex;
}

.Details .content .text,
.Details .content .image {
    padding: 15px;
    margin: 15px;

}

.text {
    color: black;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

@media only screen and (max-width: 600px) {
    .Details .content {
        flex-direction: column;
    }
}
