.App {
  text-align: center;
}

img {
  width: 100%;
}

.container {
  display: flex;
}

.item {
  flex: 1;
  position: relative;
  padding: 5px;
  overflow: hidden;

}

.overlay {
  transition: bottom ease 1s;
  display: none;
  position: absolute;
  bottom: -100;
  background-color: red;
  left: 0;
  width: 100%;
  font-display: block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px

}

.item:hover .overlay {
  display: block;
  opacity: 0.6;

}

@media only screen and (max-width: 600px) {

  .container {
    flex-direction: column;
  }
}
